.container {
  @apply flex flex-col items-center;

  svg {
    @apply h-64 fill-primary;
    @keyframes flip {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(180deg);
      }
    }

    transform: rotateY(180deg);
    animation: flip 1.5s ease-in-out infinite;
    transform-style: preserve-3d;
  }

  p {
    @apply text-primary  text-3xl w-[18rem] lg:text-5xl lg:w-[25rem] text-center mb-10;
  }

  button {
    @apply mt-10;
  }
}

:global(.dark) .container {
  svg {
    @apply fill-white;
  }
  p {
    @apply text-white;
  }
}
